<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Empresas</title>
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
	<h1>Lista de las empresas y sus calificaciones</h1>
	<ul>
		{% for empresa in object_list %}
			<li><b>Nombre:</b> {{empresa.nombre}} </li>
			{% if empresa.calificacion != -1%}
			<li><b>Calificacion:</b> {{empresa.calificacion}} </li>
			{% else %}
			<li><b>Calificacion: </b> Empresa sin calificar </li>

			{% endif %}
		{% endfor %}
	</ul>

	<a href="../"> mandame a inicio</a>

</body>
</html>
